@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Myeongjo&family=Orbit&family=Tulpen+One&display=swap');

.App {
    font-family: 'Orbit', sans-serif;
}

.App .Weatherbox1 {
    display: flex;
    
}

.App .line {
    border-top: 1px solid #444444;
    margin: 30px 0px;
}